<div class="content-box">
    <img class="news-paper" src="/images/newspaper.png">

    <h1>Scrape the News!<h4>(<a href="https://www.npr.org/sections/news" target="_blank">from npr.org</a>)</h4>
    </h1>
    <button class="scrape">Scrape New Articles</button>
    <button class="saved-articles">Saved Articles</button>
    <button class="clear-articles">Clear These Articles</button>

    <div class="left-col">
        <h2>Articles that were scraped:</h2>
        <br>
        <ul>
            {{#each articles}}
            {{> article-block}}
            {{/each}}
        </ul>
    </div>
</div>