<div class="content-box">
    <img class="news-paper" src="/images/newspaper.png">

    <h1>Scrape the News!</h1>
    <button class="scrape">Scrape New Articles</button>
    <button class="saved-articles">Saved Articles</button>

    <div class="left-col">
        <h2>Articles that were scraped:</h2>
        <ul>
            {{#each articles}}
            {{> article-block}}
            {{/each}}
        </ul>
    </div>
</div>