.article-list {
    list-style-image: url(../images/newspaper-small.png);
}

a {
    margin-right: 1%;
}

#note-body {
    width: 100%;
}

.content-box {
    margin-left: 5%;
    margin-right: 5%;
}

.news-paper {
    display: block;
    width: 50%;
    margin: auto;
}





button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 6px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    background-color: #269CE9;
    border-color: #269CE9;

    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .3)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));
    background-image: linear-gradient(top, rgba(255, 255, 255, .3), rgba(255, 255, 255, 0));


    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    background-clip: padding-box;
    /* Fix bleeding */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
        0 2px 2px -1px rgba(0, 0, 0, .5),
        0 1px 0 rgba(255, 255, 255, .3) inset;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
        0 2px 2px -1px rgba(0, 0, 0, .5),
        0 1px 0 rgba(255, 255, 255, .3) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
        0 2px 2px -1px rgba(0, 0, 0, .5),
        0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:hover {
    background-color: #70B9E8;
    /* color: #555; */
}

.save-article {
    margin-left: 1%;
    background-color: #57a957;
    border-color: #57a957;
}

.save-article:hover {
    background-color: #62c462;
}

.save-article:active {
    background: #57a957;
}

.delete-saved {
    background-color: #ee5f5b;
    background-color: #ca3535;
    border-color: #c43c35;
}

.delete-saved:hover {
    background-color: #ee5f5b;
}

.delete-saved:active {
    background: #c43c35;
}


.delete-all-saved {
    background-color: #ee5f5b;
    background-color: #ca3535;
    border-color: #c43c35;
}

.delete-all-saved:hover {
    background-color: #ee5f5b;
}

.delete-all-saved:active {
    background: #c43c35;
}

.save-note {
    margin-left: 1%;
    background-color: #57a957;
    border-color: #57a957;
}

.save-note:hover {
    background-color: #62c462;
}

.save-note:active {
    background: #57a957;
}

.delete-note {
    background-color: #ee5f5b;
    background-color: #ca3535;
    border-color: #c43c35;
    margin-left: 2%;
}

.delete-note:hover {
    background-color: #ee5f5b;
}

.delete-note:active {
    background: #c43c35;
}